
*{
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.input-login{
    background: #5169dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    border-radius: 20px;
}

.input-login form{
    position: relative;
    right: 160px;
    top: -80px;
}

/* Title styles */
.login-title {
    font-size: 60px;
    z-index: 10000;
    position: absolute;
    bottom: 50px;
    left: 80px;
    font-family: Poppins;
    font-weight: 300;
}

/* input logIn */
.input-login .input-box{
    position: relative;
}

.user-login,
.password-login{
    position: absolute;
    background: #859cf699;
    height: 44px;
    border-radius: 38px;
    color: white;
    outline: 0;
    padding: 0 17px;
    transition: color .3s, border .3s;
    padding-left: 46px;
    z-index: 50;
    width: 250px;
    transition: 0.8s ease;
    font-family: Nunito, sans-serif;
}

.user-login{
    bottom: 0px;
    border: 2px solid #859cf699;
}

.password-login{
    border: 2px solid #ffec7a;
    padding-right: 110px;
    width: 156px;
    bottom: -65px;
}

.user-login:focus{
    border: 2px solid rgba(255, 255, 255, 0.702);
}

.password-login:focus{
    border: 2px solid hsl(51, 100%, 94%);
}

/* input label logIn */
.user-login-label,
.password-login-label{
    position: absolute;
    color: rgba(255, 255, 255, 0.702);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito, sans-serif;
    font-weight: 300;
}

.user-login-label{
    width: 120px;
    height: 30px;
    bottom: 8.5px;
    left: 10.5px;
    transition: 0.3s ease;
}

.password-login-label{
    height: 30px;
    top: 26px;
    left: 46.5px;
    transition: 0.3s ease;
}

.user-login:focus ~.user-login-label ,
.user-login:valid ~.user-login-label,
.password-login:focus ~.password-login-label,
.password-login:valid ~.password-login-label{
    transform: translate(-35px,-32px) scale(.8);
}

/* input img logIn */
.password-login-img,
.user-login-img{
    position: absolute;
    width: 25px;
}

.user-login-img{
bottom: 13px;
left: 13px;
}

.password-login-img{
    top: 28px;
    left: 12px;
}

/* forget the passwoed span */
.password-login-span{
    position: absolute;
    font-size: 10px;
    width: 120px;
    top: 34px;
    left: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    z-index: 1000;
    color: hsla(0, 0%, 100%, 0.796);
    cursor: pointer;
    width: 105px;
}

/* checkbox */

.check {
    color: hsla(0, 0%, 100%, 0.495);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    width: 180px;
}

.remember-me{
    position: absolute;
    top: 80px;
    left: 80px;
}

input[type="checkbox"] {
    display: none;
}

/* Custom checkbox styles */
input[type="checkbox"] + .check:before {
    border: 1px solid white;
    border-radius: 3px;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}

input[type="checkbox"]:checked + .check:before {
    background: transparent;
    color: white;
    content: "\2713";
    text-align: center;
}



/* Styles for Google and GitHup buttons */
.google-githup-btn-login {
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    height: 42px;
    justify-content: center;
    width: 42px;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

/* Container for Google and GitHup buttons */
.google-or-githup-login {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 140px;
    left: 30px;
}

/* login buttton */
.btn-login {
    position: absolute;
    right: -60px;
    background: #69d3c2;
    border-radius: 20.5px;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 41px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    border: none;
    width: 320px;
    cursor: pointer;
    transition: 0.5s ease;
}

/* Hover effect for buttons */
.btn-login:hover {
    box-shadow: 0px 6px hsla(0, 0%, 0%, 0.104);
}

.or {
    color: hsla(0, 0%, 100%, 0.495);
    position: absolute;
    top: 100px;
    left: 70px;
    font-family: Hind Siliguri;
    font-weight: 300;
    font-size: 17px;
}

.go-to-singin{
    position: absolute;
    top: 190px;
    left: -10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: #69d3c2;
    width: 200px;
    font-family: Hind Siliguri;
    font-weight: 200;
}

.go-to-singin:hover{
    text-decoration: none;
}