@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.edit-text-container button,
.location-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Size{
  color: #000;
}
.location-delete,
.edit-text-buttons,
.width-edit,
.add-new-text {
  margin: 0 15px;
  margin-top: 10px;
}

.location-delete {
  gap: 10px;
}

.edit-text-container {
  display: flex;
  width: 1028.8px;
  padding: 0 15px;
  background-color: white;
}

.delete-btn {
  background: #FD3535;
  transition:  ease;
}

.Destination-btn {
  background: #617BE5;
}

.coordinate-buttons {
  display: flex;
  gap: 10px;
}

.width-edit {
  display: flex;
}

.coordinate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.x-coordinate button,
.y-coordinate button,
.z-coordinate button,
.width-edit button {
  width: 20px;
  height: 20px;
  background: #617BE5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.x-coordinate,
.y-coordinate,
.z-coordinate,
.width-edit,
.txt-width {
  display: flex;
  gap: 15px;
}

.coor-span {
  width: 90px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  color: black;
}

.x-coordinate button img,
.y-coordinate button img,
.z-coordinate button img,
.txt-width button img {
  width: 12px;
}

.counter {
  text-align: center;
  width: 40px;
  color: black;
}

.location-delete button {
  display: flex;
  height: 45px;
  padding: 0px 18px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}

.location-delete button img {
  width: 20px;
}

.add-new-text {
  position: relative;
}

.add-new-text input {
  position: absolute;
  background-color: transparent;
  transition: 0.8s ease;
  border: 2px solid #617BE5;
  outline: none;
  border-radius: 10px;
  width: 170px;
  height: 30px;
  padding: 5px;
  z-index: 100;
  transition: 0.1s ease;
  top: 36px;
}

.add-new-text input:focus {
  color: hsl(228, 72%, 64%);
  border: 2px solid hsl(228, 72%, 74%);
}

.add-new-text input:focus + .labelline {
  color: #617BE5;
  height: 20px;
  line-height: 30px;
  transform: translate(0px, -29px) scale(0.88);
  z-index: 1000;
}

.labelline {
  position: absolute;
  width: 100px;
  height: 0px;
  font-weight: 300;
  top: 57px;
  left: 7px;
  transition: 0.3s ease;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 50%);
}

