.left-side{
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    position: relative;
}

/* open and close textedit button */
.close-btn-left-side{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-left: 980px;
    margin-top: 5px;
    z-index: 10;
    cursor: pointer;
    transition: .5s ease;
}
.close-btn-left-side{
opacity: 0;
}

/* head buttons */
.head-buttons-left-side{
    display: inline-block;
    border-radius: 50px;
    height: 54px;
    border: 1px solid rgba(129, 138, 165, .7);
    position: absolute;
    top: 35px;
    transition: .4s ease;
    overflow: hidden;
}

.head-buttons-left-side.close{
   opacity: 0;
   width: 0;
   border:3px transparent ;
}

.buttons-left-side{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 40px;
    width: 40px;
    margin:5px;
    background-color: #617be5;
    border: 2px solid #485fb9;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: .7s ease;
    overflow: hidden;
}

.buttons-left-side:hover{
    width: 140px;
}

.icons-left-side{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}

.buttons-left-side:nth-child(1):hover .icons-left-side,
.buttons-left-side:nth-child(2):hover .icons-left-side,
.buttons-left-side:nth-child(3):hover .icons-left-side{
    background-color: hsl(228, 72%, 54%);
}

.camera-left-side{
    width: 30px;
}

.type-left-side{
    width: 28px;
}

.info-left-side{
    width: 32px;
}

.headbutton-span{
    font-size: 12px;
    color: white;
    margin-left: 10px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

/* view */
.left-side-view{
    background-color: #e8effa;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.left-side-img-view{
    width: 100%;
    height: 100%;
}

/* save button */
.save-button-left-side{
    background-color: #69c9ca;
    border: none;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border-radius: 50px;
    height: 40px;
    margin-top: 10px;
    margin-left: 850px;
    transition: .7s ease;
    cursor: pointer;
}

.save-button-img-left-side{
    width: 30px;
}

.save-button-left-side:hover{
    transform: scale(1.1);
    background-color: hsl(181, 48%, 50%);
    letter-spacing: .8px;
}

/* text corrdensate */
.EditTextCoordinates{
    position: absolute;
    transition: .5s ease;
}

.EditTextCoordinates.close{
    opacity: 0;
}
