@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Right side styles */
.rigth-side {
  height: 100vh;
  position: relative;
}

/* list img scrall */
.img-list-right-side {
  background: #f4f9ff;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 253px;
  height: 561px;
  padding: 20px 15.5px;
}

/* Scrollbar design */
.img-list-right-side::-webkit-scrollbar {
  width: 10px;
}

.img-list-right-side::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.img-list-right-side::-webkit-scrollbar-thumb {
  background-color: #69d3c2;
}

/* image right-side */
.right-side-img {
  width: 238px;
  height: 154.7px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.right-side-img::after {
  content: "";
  background-image: linear-gradient(to top, hsl(0, 0%, 30%), transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.7s ease;
}

/* Delete and reload buttons */
.right-side-button {
  position: absolute;
  top: 0px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  gap: 10px;
}

.img-list-right-side-button-delete,
.img-list-right-side-button-reload {
  background: rgba(51, 60, 94, 0.6);
  border: 1px solid #69d3c2;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.reloadimg {
  width: 17px;
}

.deleteimg {
  width: 15px;
}

.img-list-right-side-button-delete:hover {
  border: solid hsl(0, 100%, 60%) 1px;
  background-color: hsla(0, 0%, 100%, 0.389);
}

.img-list-right-side-button-reload:hover {
  background-color: hsla(0, 0%, 100%, 0.389);
}

/* the design of the img title */
.right-side-img-title {
  position: absolute;
  bottom: 12px;
  left: 11.9px;
  z-index: 2;
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  cursor: pointer;
  transition: 0.5s ease;
  width: 60px;
  height: 30px;
  text-align: center;
}

.right-side-img-title:hover {
  letter-spacing: 0.7px;
}

.right-side-img-title.close {
  width: 0;
  opacity: 0;
}

/* sure massege to delete */
.sure-massege-right-side {
  position: absolute;
  top: 16.8px;
  right: 10px;
  height: 27px;
  width: 55px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  background: rgba(51, 60, 94, 0.6);
  border: 1px solid #69d3c2;
  transition: 0.7s ease;
  overflow: hidden;
  z-index: 1;
}

.sure-massege-right-side.close {
  width: 0;
  opacity: 0;
}

.sure-massege-right-side-span {
  width: 500px;
  transition: 0.8s ease;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.64px;
}

.sure-massege-right-side.close.sure-massege-right-side-span {
  display: none;
}

.sure-massege-right-side:hover {
  border: solid hsl(0, 100%, 60%) 1px;
  background-color: hsla(0, 0%, 100%, 0.389);
}

/* Hidden info design */
.edit-massege-right-side,
.reload-massege-right-side {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  display: flex;
  gap: 9px;
  padding-right: 10px;
  align-items: center;
  transition: 0.7s ease;
  background: rgba(51, 60, 94, 0.6);
  border: 1px solid #69d3c2;
  height: 27px;
  width: 79px;
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.reload-massege-right-side {
  width: 100px;
  font-size: 15px;
  overflow: hidden;
}

.img-edit-right-side,
.img-reload-right-side {
  border: 1px solid #69d3c2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  transition: 0.7s ease;
  padding: 1px;
  position: absolute;
  left: -0.5px;
  width: 25px;
}

.icon-right-side {
  width: 15px;
}

.reload-massege-right-side-span,
.edit-massege-right-side-span {
  margin-left: 40px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.edit-massege-right-side.close,
.reload-massege-right-side.close,
.edit-massege-right-side.close .img-edit-right-side,
.reload-massege-right-side.close .img-reload,
.edit-massege-right-side.close .edit-massege-right-side-span,
.reload-massege-right-side.close .reload-massege-right-side-span {
  width: 0;
  opacity: 0;
}

/* design of the name input */
.change-name-right-side {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  transition: 0.7s ease;
}

.change-right-side {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: rgba(51, 60, 94, 0.6);
  padding: 0 10px;
  border: 1px solid #69c9ca;
  color: white;
  transition: 0.7s ease;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  outline: none;
}

.change-name-right-side.close .change-right-side {
  width: 0;
  opacity: 0;
}

.change-name-right-side.close .save-icon-right-side {
  display: none;
}

.save-icon-right-side {
  position: absolute;
  top: 6px;
  right: 7px;
  z-index: 10;
  transition: 0.6s ease;
  cursor: pointer;
  width: 20px;
}

/* upload new img */
.upload-button-right-side {
  width: 284px;
  height: 105px;
  background: #e8effa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-right-side {
  width: 140px;
  height: 38px;
  border-radius: 38px;
  border: none;
  cursor: pointer;
  background-color: #69d3c2;
  position: relative;
  z-index: 2;
  transition: 0.7s ease;
}

.upload-right-side::before {
  content: "Upload new sence(s)";
  position: absolute;
  background-color: #69d3c2;
  width: 100px;
  text-align: center;
  font-size: 13px;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  color: transparent;
  top: 3px;
  left: 20px;
  right: 0;
  bottom: 0;
  height: 0%;
  overflow: hidden;
  transition: 0.9s ease;
  line-height: 17px;
}

.upload-right-side:hover::before {
  height: 35px;
  color: white;
}

/* image upload */
.reload-img-rigthside {
  width: 100%;
  height: 100%;
}
