*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
}

.navbar nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-right: 250px;
}

.navbar ul li {
    padding:15px 20px ;
    color: hsl(0, 0%, 40%);
    font-weight: 600;
    cursor: pointer;
}

.navbar ul li:hover{
    border-bottom:2px solid #5169dd;
}

.switch{
    position: absolute;
    right: 80px;
}

li.home{
    color: #5169dd;
}
