

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

.navBarUL{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-right: 200px;
}

.navBarLI{
    padding:15px 20px ;
    color: hsl(0, 0%, 40%);
    font-weight: 600;
    cursor: pointer;
}

.navBarLI:hover{
    border-bottom:2px solid #5169dd;
}

.switch{
    position: absolute;
    right: 150px;
}

.navBarLI.home{
    color: #5169dd;
}

.NavBar-YourTours{
    position: absolute;
    right: 150px;
}
