
.button-box{
    width: 200px;
    height: 40px;
    margin: 25px auto;
    position: relative;
    border-radius: 30px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle-btn{
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    color: black;
    height: 50px;
    width: 100%;
    transition: .4s ease;
    font-family: Hind Siliguri;
    font-weight: 300;
    font-size: 18px;
}

.toggle-btn.login-right:hover,
.toggle-btn.sginup-left:hover{
    color: #3498db;
}

.toggle-btn.login-left,
.toggle-btn.sginup-right{
    color: white;
}

div.btn{
    left:2px;
    position: absolute;
    width: 100px;
    height: 37px;
    background: linear-gradient(90deg, #3498db, #9b59b6);
    border-radius:30px ;
    z-index: -1;
    transition: .4s ease;
}

div.btn.left{
    left: 2px;
}
div.btn.right{
    left: 99px;
}
