.my-tours {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Tours title */
.my-tours-title{
  position: absolute;
  width: 400px;
  top: 20px;
  left: 175px;
  z-index: -1;
  color: #5169dd;
  font-family: Poppins;
  font-weight: 200;
  font-size: 70px;
}

.my-tour-span.name{
  color: #8f8f8f;
}
/* return to home btn */
.go-to-home-my-tour {
  position: absolute;
  top: 20px;
  right: 25px;
  display: inline-block;
}

.go-to-home-my-tour-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #5169dd;
  cursor: pointer;
  transition: 0.4s ease;
}

.go-to-home-my-tour-btn:hover {
  background-color: #3498db;
}

.go-to-home-my-tour-icon {
  width: 40px;
}

/* edit an delete button */
.edit-or-delete-my-tours {
  position: relative;
}

.delete-my-tours:hover,
.edit-my-tours:hover {
  background-color: hsla(0, 0%, 40%, 0.389);
}

.delete-my-tours:hover {
  border: 2px solid #fd3535;
}

.edit-my-tours:hover {
  border: 2px solid hsl(186, 85%, 34%);
}

.delete-my-tours,
.edit-my-tours {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  position: relative;
  z-index: 10;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  background: rgba(51, 60, 94, 0.6);
  border: 2px solid #3498db;
  color: #fff;
  transition: 0.7s ease;
}

.edit-or-delete-my-tours-img {
  width: 20px;
}

.delete-and-edit-span {
  font-size: 14px;
}

/* Tour list */
.tours-list {
  position: absolute;
  top: 115px;
  left: 180px;
  width: 1180px;
  padding: 20px 0;
  height: 450px;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.tours-list::-webkit-scrollbar {
  width: 0px;
}

/* the img view */
.img-view {
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: 185px;
  height: 99px;
  cursor: pointer;
}

.tour-info {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #4e5983;
  border-bottom: 3px solid #4e5983;
  padding: 0 50px;
  margin: 10px 0;
}

/* comment proprties */
.edit-or-delete-my-tours,
.delete-my-tours,
.edit-my-tours,
.last-update,
.tour-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.my-tour-span {
  color: #4e5983;
}

/* the sure massege */
.sure-message-my-tour {
  position: absolute;
  width: 150px;
  height: 38px;
  padding-left: 15px;
  border-radius: 50px;
  justify-content: start;
  display: flex;
  align-items: center;
  right: 110px;
  top: 39px;
  cursor: pointer;
  background: rgba(51, 60, 94, 0.6);
  border: 2px solid #3498db;
  overflow: hidden;
  color: white;
  font-size: 15px;
  transition: 0.8s ease;
}

.sure-message-my-tour:hover {
  border: 2px solid #fd3535;
  background-color: hsla(0, 0%, 40%, 0.389);
}

.sure-message-my-tour.close {
  width: 0;
  opacity: 0;
}

/* last update */

.add-new-tour-btn {
  display: flex;
  width: 214px;
  height: 46px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 12px;
  background: #3498db;
  border: none;
  position: absolute;
  bottom: 40px;
  left: 680px;
  transition: 0.8s ease;
}

.add-new-tour-btn:hover {
  transform: scale(1.1);
  background: hsl(204, 70%, 33%);
  letter-spacing: 0.9px;
}

.my-tour-span.last-update{
  color: #8f8f8f;
}

.clock{
  width: 27px;
}

@media (max-width: 768px) {
  .my-tours-title {
    width: 200px;
    top: 30px;
    left: 30px;
  }
  .my-tours-title {
    font-size: 40px;
  }
  .tours-list {
    top: 90px;
    left: 30px;
    width: 410px;
    height: 600px;
    padding: 0px 5px;
    height: 450px;
  }
  .tour-img {
    flex-direction: column;
    gap: 3px;
    position: relative;
    margin-left: 15px;
    padding: 0;
  }
  .my-tour-span.name {
    position: absolute;
    font-size: 15px;
    bottom: 12px;
    left: 10px;
  }
  .tour-img .img-view {
    width: 150px;
    height: 80px;
  }
  .tour-info {
    padding: 0 3px;
    position: relative;
    width: 400px;
  }
  .last-update {
    gap: 2px;
  }
  .my-tour-span.last-update {
    font-size: 13px;
  }
  .clock {
    width: 17px;
  }
  .edit-or-delete-my-tours {
    flex-direction: column;
    gap: 20px;
  }
  .delete-my-tours {
    z-index: 10;
  }
  .delete-and-edit-span {
    display: none;
  }
  .delete-my-tours,
  .edit-my-tours {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }

  .sure-message-my-tour {
    width: 150px;
    right: 15px;
    top: 5px;
    width: 72px;
    height: 33px;
    font-size: 13px;
    padding-left: 10px;
  }
  .add-new-tour-btn {
    left: 170px;
    width: 125px;
    height: 50px;
    font-size: 13px;
    gap: 1px;
  }
  .add-new-tour-img {
    display: none;
  }
  .go-to-home-my-tour-btn {
    width: 40px;
    height: 40px;
  }
  .go-to-home-my-tour-icon {
    width: 20px;
  }
}
