

.singin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    height: 520px;
    border-radius: 20px;
}
